<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB7TRM8nlFd9bmckC0e5XO9TZ4DZitogl4</string>
	<key>GCM_SENDER_ID</key>
	<string>263982297790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lantechcomputers.smartschool</string>
	<key>PROJECT_ID</key>
	<string>smartschool-8e775</string>
	<key>STORAGE_BUCKET</key>
	<string>smartschool-8e775.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:263982297790:ios:fc8885d58fe65792f0a4ef</string>
</dict>
</plist>